---
import { cx } from "../utils";

const formFieldClasses = cx(
  "rounded border p-2 border-slate-300 text-slate-900",
  "focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-600",
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>the Navbar Podcast</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="mx-auto max-w-2xl px-4 py-16">
      <h1 class="text-2xl font-medium">The Navbar Podcast</h1>

      <div class="mt-4 grid gap-2 text-lg text-slate-600">
        <p>
          Have a suggestion for an episode topic, or just a question you'd like
          us to answer on the podcast?
        </p>
        <p>Suggest away, it'll make its way to our planinng database 🤙</p>
      </div>

      <form
        hx-post="/api/community-suggestion"
        hx-target="#feedback"
        class="mt-8 grid gap-4"
      >
        <label class="grid gap-2">
          <span class="text-sm font-medium text-slate-600">Title</span>
          <input
            id="title"
            name="title"
            placeholder="Can you do an episode on GraphQL?"
            class={formFieldClasses}
          />
        </label>
        <label class="grid gap-2">
          <span class="text-sm font-medium text-slate-600"
            >Elaborate a little</span
          >
          <textarea
            id="body"
            name="body"
            placeholder="I get types, but how do resolvers work?"
            class={formFieldClasses}></textarea>
        </label>
        <button
          class="flex items-center gap-4 justify-self-start rounded-md bg-gradient-to-tr from-indigo-600 to-violet-500 px-6 py-2 text-white hover:bg-gradient-to-br focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-offset-1 focus:ring-offset-indigo-600 active:to-indigo-600"
        >
          <span class="text-sm font-medium uppercase tracking-wider"
            >Send it</span
          >
          <span>🤙</span>
        </button>
      </form>
      <div id="feedback"></div>
    </div>
  </body>
</html>
