---
import { getEntry } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import ShowsList from "@/components/ShowsList.astro";

const settings = await getEntry("settings", "index");
---

<Layout>
  <div class="mx-auto max-w-7xl px-4 py-16">
    <div class="max-w-xl">
      <h1 class="text-5xl font-medium">{settings.data.title}</h1>
      <div class="mt-6 grid gap-2 text-xl text-slate-600">
        <p>{settings.data.description}</p>
      </div>
    </div>
    <h2 class="mt-16 text-2xl font-medium">Episodes</h2>
    <div class="mt-6">
      <ShowsList />
    </div>
  </div>
</Layout>
