---
import { getEntry } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import ShowsList from "@/components/ShowsList.astro";

const settings = await getEntry("settings", "index");
---

<Layout title="Welcome to...">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 md:py-16 lg:px-8">
    <div class="max-w-xl">
      <h1 class="text-4xl font-medium md:text-5xl">{settings.data.title}</h1>
      <div class="mt-6 grid gap-2 text-lg text-slate-600 md:text-xl">
        <p>{settings.data.description}</p>
      </div>
    </div>
    <h2 class="mt-16 text-2xl font-medium">Episodes</h2>
    <div class="mt-6">
      <ShowsList />
    </div>
  </div>
</Layout>
