---
import { getEntry } from "astro:content";

import { getLatestShows } from "@/utils";

import Layout from "../layouts/BaseLayout.astro";
import ShowsGrid from "@/components/ShowsGrid.astro";

const settings = await getEntry("settings", "index");
const lastEpisodes = await getLatestShows(9);
---

<Layout title="Welcome to...">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 md:py-16 lg:px-8">
    <div class="max-w-xl">
      <h1 class="text-4xl font-medium md:text-5xl">{settings.data.title}</h1>
      <div class="mt-6 grid gap-2 text-lg text-slate-600 md:text-xl">
        <p>{settings.data.description}</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <h2 class="mt-16 text-2xl font-medium">Latest Episodes</h2>
      <a
        href="/shows"
        class="mt-10 flex items-center gap-2 rounded-md bg-gradient-to-r from-sky-100 to-emerald-100 px-4 py-2 text-sm font-medium text-emerald-950 ring-1 ring-emerald-400 transition hover:from-sky-200 hover:to-emerald-200"
      >
        View All Episodes
      </a>
    </div>
    <div class="mt-6">
      <ShowsGrid shows={lastEpisodes} />
    </div>
  </div>
</Layout>
