---
import { type Page } from "astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  page: Page<CollectionEntry<"shows">>;
};

const { page } = Astro.props as Props;
---

<!-- Pagination -->
<div class="flex items-center gap-8">
  <p>Page {page.currentPage} of {page.lastPage}</p>
  <div class="flex gap-4">
    <!-- Previous page -->
    <a
      href={page.url.prev}
      class={page.url.prev ? "" : "pointer-events-none opacity-10"}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left"
      >
        <path d="m15 18-6-6 6-6"></path>
      </svg>
    </a>

    <!-- Next page -->
    <a
      href={page.url.next}
      class={page.url.next ? "" : "pointer-events-none opacity-10"}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
    </a>
  </div>
</div>
