---
import { getCollection } from "astro:content";

const shows = await getCollection("shows");
const sortedShows = shows.sort((a, b) => a.data.id - b.data.id);
---

{
  shows.length > 0 && (
    <ul class="grid gap-x-8 gap-y-6 md:grid-cols-2 lg:grid-cols-3">
      {sortedShows.map((show) => (
        <li class="flex items-center justify-between gap-6 rounded-lg bg-white p-6 shadow-md ring-1 ring-black/5 hover:-translate-y-px">
          <h2 class="font-medium">
            <a href={`/shows/${show.slug}`} class="hover:underline">
              {show.data.title}
            </a>
          </h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="size-6 shrink-0 stroke-slate-500 hover:stroke-purple-600"
          >
            <circle cx="12" cy="12" r="10" />
            <polygon points="10 8 16 12 10 16 10 8" />
          </svg>
        </li>
      ))}
    </ul>
  )
}
