---
import { type GetStaticPaths } from "astro";

import Layout from "@/layouts/BaseLayout.astro";
import ShowsGrid from "@/components/ShowsGrid.astro";
import Pagination from "@/components/Pagination.astro";

import { getLatestShows } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const shows = await getLatestShows();
  return paginate(shows, { pageSize: 15 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Published Shows">
  <div class="mx-auto grid max-w-7xl gap-8 px-4 py-16 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-medium">All Episodes</h1>
      <Pagination page={page} />
    </div>
    <ShowsGrid shows={page.data} />
    <div class="justify-self-end">
      <Pagination page={page} />
    </div>
  </div>
</Layout>
