---
import Layout from "@/layouts/BaseLayout.astro";
import ShowsList from "@/components/ShowsList.astro";
---

<Layout title="Published Shows">
  <div class="mx-auto max-w-7xl px-4 py-16">
    <h1 class="text-2xl font-medium">Shows</h1>
    <div class="mt-8">
      <ShowsList />
    </div>
  </div>
</Layout>
