---
import Head from "@/components/Head.astro";
import NavBar from "@/components/NavBar.astro";
import Footer from "@/components/Footer.astro";
import type { SeoProps } from "@/components/Head.astro";
import AudioPlayer from "@/components/AudioPlayer.astro";

/* 
  The SEO title, description and OG image can be passed by each page 
  to the Layout component. They're optional, as the SEO component
  ("@/components/Head.astro") has fallback values for each.  
*/
const { title, description, image } = Astro.props as SeoProps;
---

<html lang="en" x-data>
  <Head {title} {description} {image} />
  <body
    class="font-poppins grid min-h-dvh grid-rows-[auto,minmax(0,1fr),auto] bg-gradient-to-b from-white via-sky-50 to-emerald-50/50"
  >
    <NavBar />
    <main class="w-full">
      <slot />
    </main>
    <Footer />
    <AudioPlayer transition:persist />
  </body>
</html>
