---
import Image from "astro/components/Image.astro";
import NavBar from "@/components/NavBar.astro";
import Footer from "@/components/Footer.astro";
import { getEntry } from "astro:content";

const settings = await getEntry("settings", "index");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>the Navbar Podcast</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@1/+esm"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-poppins grid min-h-dvh grid-rows-[auto,minmax(0,1fr),auto]">
    <NavBar />
    <main class="w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
